
.title {
    font-family: 'Playfair Display', serif;
    color: #d1c07c;
    font-size: 50px;
}

.subtitle {
    font-style: Lato;
    font-size: 20px;
}

.container {
    padding: 40px;
}

.noresults{
    color:#d1c07c;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.loading {
    padding-left: 50%;
}